<!DOCTYPE html>
<!-- Based on https://github.com/frontapp/frontapp.github.io -->
<!-- Trialed using https://gazed.github.io/fae  -->
<html>
  <head>
    <style>
      body {
      }
      button {
        display: block;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
      }
    </style>
    <link rel="stylesheet" href="faestudent.css">
    <script type="text/javascript" src="https://dl.frontapp.com/libs/frontjs.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="faestudent.js"></script>
  </head>
  <body>

    <!-- Based on FrontApp sidebar contact display -->
    <div class="contacts-side-user-bio">
      <div class="avatar" data-initials="-" data-has-avatar="false" ng-style="contactAvatarStyle(cardModel)" ng-switch-when="view" ng-if="cardModel" style="background-color: rgb(133, 224, 146);">
      </div>
      <div id="contact_name", class="display-name" ng-switch-when="view">None</div>
    </div>
    <div class="contacts-side-user-fields" ng-switch-when="view" ng-if="cardModel">
      <li class="field-line ng-hide" ng-show="cardModel.description">
        <span class="key">Description</span>
        <span class="val"></span>
      </li>
      <li class="field-line" ng-repeat="contactField in cardModel.contacts()">
        <span class="key">Email</span>
        <span class="val"></span>
        <input type="text" id="contact_email" ng-model="contactField.handle" class="val -ellipsis ng-pristine ng-untouched ng-valid ng-not-empty" easy-select="" readonly="readonly">
      </li>
    </div>

    <!-- From original plugin demo -->
    <button onClick="unassign()">Unassign</button>
    <button onClick="toggleArchive()">Archive/Unarchive</button>
    <button onClick="toggleTrashed()">Trash/Untrash</button>
    <button onClick="reply()">Reply</button>
    <button onClick="alertDialog()">Pop alert dialog</button>
    <button onClick="confirmDialog()">Pop confirm dialog</button>
    <button onClick="promptDialog()">Pop prompt dialog</button>
    <button onclick="fetchTeammates()">Fetch teammates</button>
    <button onclick="fetchInboxes()">Fetch inboxes</button>
  </body>
</html>

