.contacts-side-user-bio > .avatar {
    width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
    margin-bottom: 9px;
    position: relative
}

.contacts-side-user-bio > .avatar[data-has-avatar=false]:after {
    content: attr(data-initials);
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 17px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    line-height: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center
}

.contacts-side-user-bio > .avatar.-edit-mode {
    cursor: pointer
}

.contacts-side-user-bio > .avatar.-edit-mode:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTUgM1YxYzAtLjU1LS40NS0xLTEtMS0uNTYgMC0xIC40NS0xIDF2MkgxYy0uNTUgMC0xIC40NS0xIDEgMCAuNTYuNDUgMSAxIDFoMnYyYzAgLjU1LjQ1IDEgMSAxIC41NiAwIDEtLjQ1IDEtMVY1aDJjLjU1IDAgMS0uNDUgMS0xIDAtLjU2LS40NS0xLTEtMUg1eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
    background-color: hsla(0, 0%, 100%, .7);
    display: block;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.contacts-side-user-bio > .avatar.-edit-mode.-no-avatar:after,
.contacts-side-user-bio > .avatar.-edit-mode:hover:after {
    opacity: 1
}

.contacts-side-user-bio > .display-name {
    margin-top: 8px;
    padding: 0 26px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-align: center;
    word-wrap: break-word
}

.contacts-side-user-fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    margin: 0 26px;
    margin-top: 19px
}

.contacts-side-user-fields .settings-input-field .error-container {
    font-size: 14px
}

.contacts-side-user-fields > .field-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px
}

.contacts-side-user-fields > .field-container > .settings-input-field {
    padding-bottom: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.contacts-side-user-fields > .field-container > .remove-field {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    background: #e8e8e8;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNDMUMxQzEiIGQ9Ik00LjIzIDQuNDc2bDIuODc4IDIuODc4YS41LjUgMCAxIDAgLjcwNy0uNzA4TDQuOTM4IDMuNzcgNy44MTUuODkyYS41LjUgMCAxIDAtLjcwNy0uNzA3TDQuMjMxIDMuMDYyIDEuMzU0LjE4NWEuNS41IDAgMSAwLS43MDguNzA3bDIuODc4IDIuODc3TC42NDYgNi42NDZhLjUuNSAwIDAgMCAuNzA4LjcwOEw0LjIzIDQuNDc2eiIvPjwvc3ZnPg==");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 22px
}

.contacts-side-user-fields > .field-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 14px
}

.contacts-side-user-fields > .field-line > .key {
    font-weight: 500;
    font-size: 12px;
    color: #bcbcbc;
    margin-bottom: 2px;
    text-transform: capitalize
}

.contacts-side-user-fields > .field-line > .val {
    font-weight: 500;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text
}

.contacts-side-user-fields > .field-line > .val.-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
